@import "variables";

.contacts {
  padding: @pad*37.5 0;
  background-color: #151C26;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-image: url("/../assets/2_Main_screen.jpg");
  background-position: 100% bottom;
  background-size: 100%;
  position: relative;

  @media screen and (max-width: @tablet-max) {
    padding: @pad*16 0 @pad*22;
  }
}

.contacts__layout {
  .layout();
  display: flex;
  flex-direction: row;

  @media screen and (max-width: @tablet-max) {
    flex-direction: column-reverse;
  }
}

.contacts__form {
  width: 45%;
  display: inline-block;
  float: left;
  margin: 0;

  @media screen and (max-width: @tablet-max) {
    float: none;
    width: 100%;
    margin-top: @pad*14;
  }
}

.contacts__form-in {
  max-width: 450px;
  width: 100%;

  @media screen and (max-width: @tablet-max) {
    margin: 0 auto;
  }
}

.contacts__form-control {
  .borderGradientParent();
  width: 100%;
}

.contacts__form-control-label {
  .borderGradient();
  width: 100%;
  margin-bottom: @pad*2.5;

  .contacts__form-control--message & {
    margin-bottom: 0;
  }

  .contacts__form-control--message &:before {
    margin-bottom: 4px;
  }
}

.contacts__form-control-input,
.contacts__form-control-area {
  width: 100%;
  border-radius: inherit;
  border: none;
  padding: @pad*2.5 @pad*4;
  height: 44px;
  font-size: 0.95rem;
  line-height: 1.2;
  box-sizing: border-box;

  &::placeholder {
    color: @dark;
    font-size: 0.95rem;
    font-family: 'Titillium Web', 'monospace', 'sans-serif';
    vertical-align: bottom;
    letter-spacing: 0.5px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 14px 2px #07C7CA;
  }
}

.contacts__form-control-area {
  margin-bottom: 0;
  resize: vertical;
  height: auto;
}

.contacts__form-button-wr {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: @pad*3.5;
}

.contacts__form-button {
  background: linear-gradient(261.8deg, #07C7CA 1%, #117DBE 99.37%);
  font-weight: bold;
  color: #ffffff;
  padding: @pad*3 @pad*5;
  border-radius: @pad*2;
  border: 0;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.7;
  display: inline-block;
  max-width: 230px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  @media screen and (max-width: @tablet-max) {
    padding: @pad*2 @pad*5;
  }

  &:hover,
  &:focus {
    box-shadow: 4px 4px 14px -4px #07C7CA;
  }
}

.contacts__info {
  width: 49%;
  display: inline-block;
  margin-left: 7%;
  margin-top: -@pad*3;

  @media screen and (max-width: @tablet-max) {
    margin-left: 0;
    width: 100%;
    margin-top: 0;
  }
}

.contacts__info-in {
  width: 100%;

  @media screen and (max-width: @tablet-max) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.contacts__info-title {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.25;

  @media screen and (max-width: @tablet-max) {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: @pad*2;
  }
}

.contacts__info-description {
  color: @gray;
  margin-top: @pad*7;
  line-height: 1.5;
  font-size: 1rem;

  @media screen and (max-width: @tablet-max) {
    line-height: 1.8;
    margin-top: @pad*10;
  }
}
