@import "variables";

.disasters {
  height: calc(60vw);
  max-height: 1100px;
  margin-top: -15vw;
  margin-bottom: -15vw;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: @tablet-max) {
    height: 440px;
  }
}

.disasters__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-image: url("/../assets/4_Photo.png");
  background-position: center center; // NOTE: (x)vw - for disaster block
  background-size: 100% 100%;

  @media screen and (max-width: @tablet-max) {
    background-image: url("/../assets/mobile/2_Photo.png");
  }
}

.disasters__layout {
  .layout();
  position: relative;
  z-index: 1;
}

.disasters__text {
  max-width: 800px;
  align-self: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 1.3;
}
