@import "variables";

.footer {
  background-color: @dark;
  padding: @pad*7.5;
}

.footer__layout {
  .layout();
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @gray;
  font-size: 0.75rem;
}

.footer__copy {
  margin-right: @pad*9;
  text-transform: uppercase;
}

.footer__buttons {
  .borderGradientParent();
}

.footer__button {
  color: @dark;
  padding: 0 @pad;
  margin: 0 @pad*3;
  width: 154px;
  max-height: 40px;
  background: center center no-repeat #ffffff;
  .borderGradient();

  &:not(:hover):before {
    background-image: linear-gradient(0deg, #fff, #fff);
  }

  &:hover {
    background-color: @dark;
  }
}

.footer__button--android {
  background-image: url("/../assets/icons/Google_play_icon_small.svg");

  &:hover {
    background-image: url("/../assets/icons/Google_play_icon_small_inverse.svg");
  }
}

.footer__button--ios {
  background-image: url("/../assets/icons/APP_Store_icon_small.svg");

  &:hover {
    background-image: url("/../assets/icons/APP_Store_icon_small_inverse.svg");
  }
}

.footer__button-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: center center no-repeat #ffffff;
}

.footer__button-info {
  position: relative;
  visibility: hidden;
}

.footer__gdpr {
  text-transform: uppercase;
}

.footer__gdpr-item {
  margin-left: @pad*12;
  color: @gray;
  text-decoration: none;
}
