//@import "variables";
@import "greed";
@import "main";


html {
  //background: green;
  //border: 20px solid red
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Titillium Web', 'monospace', 'sans-serif';
}

body {
  //background: green;
  //border: 20px solid red
  padding: 0;
  margin: 0;
  font-size: 18px;
  //line-height: 1.4;
}

ul {
  margin: 0;
  padding: 0;
  //list-style: none;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.titled {
  color: @primary;
}
