@import "variables";

.main {
  background-color: #151C26;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-image: url("/../assets/2_Main_screen.jpg");
  background-position: bottom center;
  background-size: 100%;
  padding: @pad*11.5 0 calc(15vw - @pad*6); // NOTE: (x)vw - overlap by disaster block
  position: relative;
}

.main__layout {
  .layout();
  position: relative;
  z-index: 2;
}

.main__header {
  font-size: 1rem;
  height: @pad*11.5;
  max-height: @pad*11.5;
  display: flex;
  justify-content: space-between;
}

.main__header-logo {
  display: inline-flex;
  justify-content: center;
  align-self: center;
}

.main__header-logo-img {
  float: left;
}

.main__header-logo-company {
  color: @gray;
  float: left;
  margin-left: 18px;
  line-height: 1;
  display: inline-flex;
  align-self: flex-end;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.main__menu-wr {
}

.main__menu {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.6px;
  display: flex;
  float: left;
  height: 100%;
}

.main__menu-list {
  display: flex;
  justify-content: center;
  margin-right: @pad*12;
}

.main__menu-item {
  margin: 0 @pad*7;
  display: inline-flex;
  align-items: center;
  align-self: center;
}

.main__menu-item-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;

  &:hover,
  &:focus {
    text-decoration: none;
    color: @primary;
  }
}

.main__menu-button {
  display: block;
  float: left;
  background: linear-gradient(261.8deg, #07C7CA 1%, #117DBE 99.37%);
  font-weight: bold;
  color: #ffffff;
  padding: @pad*3 @pad*5;
  border-radius: @pad*2;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.4;
  width: 230px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 4px 4px 14px -4px #07C7CA;
  }
}

.main__content {
  max-width: 70%;
}

.main__content-header {
  font-size: 3.8rem;
  margin: @pad*20 0 @pad*12;
  line-height: 1.15;
}

.main__content-description {
  color: @gray;
  width: 70%;
  line-height: 1.6;
}

.main__content-info {
  font-weight: bold;
  margin-top: @pad*8;
  color: @primary;
  font-size: 1.1rem;
}

.main__apps-wr {
  position: relative;
  width: 100%;
  margin-top: @pad*23;
  height: 60px;
}

.main__apps {
  .borderGradientParent();
}

.main__app {
  color: @dark;
  border-radius: @pad*2;
  display: inline-block;
  padding: @pad @pad*5;
  text-decoration: none;
  margin-right: @pad*7.5;
  border: 2px solid #ffffff;
  width: 230px;
  height: 60px;
  box-sizing: border-box;
  background: center center no-repeat #ffffff;
  .borderGradient();

  &:not(:hover):before {
    background-image: linear-gradient(0deg, #fff, #fff);
  }

  &:hover,
  &:focus {
    background-color: @dark;
  }
}

.main__app--android {
  background-image: url("/../assets/icons/Google_play_icon_big.svg");

  &:hover,
  &:focus {
    background-image: url("/../assets/icons/Google_play_icon_big_inverse.svg");
  }
}

.main__app--ios {
  background-image: url("/../assets/icons/APP_Store_icon_big.svg");

  &:hover,
  &:focus {
    background-image: url("/../assets/icons/APP_Store_icon_big_inverse.svg");
  }
}

.main__app-info {
  opacity: 0;
  position: absolute;
}

.main__app-text {
  font-size: 0.7rem;
  width: 100%;
}

.main__app-name {
  font-weight: bold;
  font-size: 1rem;
}

.main__example {
  position: absolute;
  right: -7%;
  bottom: 5%;
}

.main__example-img {
  width: 670px;
  height: auto;
}
