@import "variables";

.quote {
  background-color: #EBEFEF;
  padding-top: @pad*20;
  overflow-y: auto;
  overflow-x: hidden;
}

.quote__bg {
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-image: url("/../assets/6_Background for quote.png");
  background-position: top center;
  background-size: auto;

  @media screen and (min-width: 2000px) { //NOTE: hardcoded
    background-size: 100%;
  }

  @media screen and (max-width: @desktop-min) {
    background-position: bottom center;
  }
}

.quote__layout {
  .layout();
  position: relative;
  z-index: 1;
  padding-bottom: @pad*20;

  @media screen and (max-width: @tablet-max) {
    padding: 0 @pad*7.8;
  }
}

.quote__main {
  width: 46.5%;
  display: inline-block;
  margin-top: 10%;
  box-sizing: border-box;

  @media screen and (max-width: @tablet-max) {
    width: 100%;
    line-height: 1.9;
  }
}

.quote__main-quote {
  margin-top: @pad*25;
  line-height: 1.6;
  position: relative;
  font-style: italic;

  &:before {
    position: absolute;
    top: 0;
    left: -1.65rem;
    width: 0.5rem;
    font-size: 2.2rem;
    color: @primary;
    line-height: 1.2;
    font-weight: bold;
    font-style: normal;
  }

  &:after {
    position: relative;
    display: inline-block;
    top: 1.2rem;
    left: 0.5rem;
    width: 0.5rem;
    font-size: 2.2rem;
    color: @primary;
    line-height: 0;
    font-weight: bold;
    font-style: normal;
  }
}

.quote__main-text {
}

.quote__main-text-name {
  font-size: 1.55rem;
  font-weight: bold;
  margin-top: @pad*6;

  @media screen and (max-width: @tablet-max) {
    line-height: 1.2;
    font-size: 1.2rem;
  }
}

.quote__main-text-info {
  text-transform: uppercase;
}

.quote__img-wr {
  width: 55%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 120%;
  position: absolute;
  left: 52%;
  top: -20%;

  @media screen and (max-width: @tablet-max) {
    width: 100%;
    position: relative;
    height: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: @pad*8;
  }
}

.quote__img {
  display: inline-flex;
  align-items: center;
  text-align: center;
  height: 100%;
  max-height: 600px;

  @media screen and (max-width: @tablet-max) {
    max-width: 290px;
    height: auto;
    max-height: 400px;
  }
}
